
ul.footer_more_ul {
    position: relative;
    left: -40px;
}

h6.contact_title_footer {
    position: relative;
    left: -17px;
}

.footer_more_ul {
    posistion
}

body {
    -webkit-overflow-scrolling: touch;
}

nav.navbar.navbar-expand-lg.navbar-dark {
    z-index: 100 !important;
}

.card-body.px-5.small_box_done:before {
    z-index: 50 !important;
}

.card-body.px-5.small_box_done .row, .card-body.px-5.small_box_done p {
    z-index: 50 !important;
}

img.logo-dark {
    position: relative;
    bottom: -5px !important;
}


button.slick-next.slick-arrow {
    right: -40px;
}

button.slick-prev.slick-arrow {
    left: -40px;
}

ul#underlightgallery {
    margin-bottom: 75px;
}

ul.list-of-products-img a img {
    height: 100%;
    object-fit: cover;
}


.product-detail a {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

h2.text-center.big-t-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 31px;
}

.slick-next::before {
    border-color: red !important;
    font-size: 97px !important;
    height: 11px;
    width: 11px;
}

button.slick-next.slick-arrow {
    background: transparent !important;
}

.slick-prev::before {
    border-color: red !important;
    font-size: 97px !important;
    height: 11px;
    width: 11px;
}

button.slick-prev {
    background: transparent !important;
}

img.slmsqfqsqs {
    height: 358px !important;
}

li.lkqlqlkjsq a {
    float: right;
    font-weight: bold;
}

li.lkqlqlkjsq {
    margin-bottom: 40px;
}

li.lkqlqlkjsq a:hover {
    cursor: pointer;
}


a.slicknav_btn.slicknav_open {
    display: none;
}

.text-center.heading-cats h2 {
    font-weight: 900 !important;
}

.slicknav_menu.active {
    z-index: 3000;
    position: fixed !important;
    left: 0;
    width: 280px;
    bottom: 0 !important;
    top: 0 !important;
}

span.slicknav_arrow {
    float: right;
}

@media (max-width: 600px) and (min-width: 0px) {


    .d-xs-none {
        display: none !important;
    }

    img.logo-dark {
        position: relative;
        left: 20px;
    }

    a#cart {
        position: relative;
        top: 17px;
        left: -45px;
    }

    a.btn.btn-xs {
        top: -17px;
        position: relative;
    }


    ul.nav.nav-tabs {
        margin-top: 65px !important;
    }

    .coverHeaderWrapper h1 {
        text-align: center !important;
        width: 100% !important;
    }

}

.under_cover {
    background: #00000080 !important;
    font-weight: bold;
}

a.slicknav_btn.slicknav_collapsed {
    visibility: hidden;
}

.search-For-Top-Header ul li {
    overflow: hidden;
}

.col-4.col-lg-3.text-right.lbotonat a {
    font-size: 13px !important;
}


ul.mlsqfkkfmkmlklm {
    height: 300px !important;
    overflow-y: scroll !important;
}

.product-3 .product-media img {
    height: 100%;
    margin: 0 auto;
    display: inline-block;
    float: none;
    width: auto !important;
}

.product-3 .product-media a {
    width: 100%;
    height: 100% !important;
    display: inline-block;
    text-align: center;
}

.coverHeaderWrapperTitlePhone {
    z-index: 50;
    color: black !important;
    text-align: center;
    font-size: 30px;
    margin-top: 8px;
    font-weight: bold;
    font-family: Dosis, sans-serif;
}

.coverHeaderWrapper img {
    width: 100%;
}

.lg-backdrop {
    background: white !important;
}


a.item-remove {
}

ul.shopping-cart-items li {
    position: relative;
}

ul.shopping-cart-items li .item-remove i {
    position: absolute;
    left: 252px;
    top: 18px;
    color: red;
    /*     background: white;
        border: 1px solid red;
        border-radius: 4px; */
}

.sqsqkllsmkflmkslfq {
    color: white;
}

ul.shopping-cart-items li {
    text-align: left;
}

a.nav-link.ksksks {
    color: white !important;
}

.shopping-cart .shopping-cart-items .item-name {
    width: 80%;
}

a.nav-link.sqsqkllsmkflmkslfq {
    color: white !important;
}

input.searchdkj {
    position: absolute;
    width: 210px;
    border: 0px !important;
    border-radius: 2px;
    right: 0;
    top: 3px;
}

.zepfqdkjskqskwkqs {
    position: relative;
}

a.zepfqdkjskqskwkqs {
    position: absolute;
}


.carter {
    display: inline;
    position: relative;
}

.shopping-cart {
    position: absolute;
}

.carter {
    display: inline;
    position: relative;
}

.shopping-cart {
    position: absolute;
}

ul.shopping-cart-items {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none;
}

.lighter-text {
    color: #ABB0BE;
}

.main-color-text {
    color: #6394F8;
}

.shopping-cart {
    margin: 20px 0;
    float: right;
    background: white;
    width: 320px;
    border-radius: 3px;
    padding: 20px;
}

.shopping-cart .shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
}

.shopping-cart .shopping-cart-header .shopping-cart-total {
    float: right;
}

.shopping-cart .shopping-cart-items {
    padding-top: 20px;
}

.shopping-cart .shopping-cart-items li {
    margin-bottom: 18px;
}

.shopping-cart .shopping-cart-items img {
    float: left;
    margin-right: 12px;
}

.shopping-cart .shopping-cart-items .item-name {
    display: block;
    padding-top: 10px;
    font-size: 16px;
}

.shopping-cart .shopping-cart-items .item-price {
    color: #6394F8;
    margin-right: 8px;
}

.shopping-cart .shopping-cart-items .item-quantity {
    color: #ABB0BE;
}

.shopping-cart:after {
    bottom: 100%;
    left: 89%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
}

.cart-icon {
    color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
}

.button {
    background: #6394F8;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    margin: 25px 0 15px 0;
}

.button:hover {
    background: #729ef9;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.nav-navbar .nav .nav-link {
    font-weight: bold;
    color: black;
}


.search-For-Top-Header {
    display: inline-block;
    width: 20px;
    height: 45px;
    position: relative;
    top: 28px;
}

input.searchStuf {
    position: absolute;
    right: 10px;
    border: 0;
    border-radius: 5px !important;
    width: 231px;
}

.search-For-Top-Header ul {
    background: white;
    position: absolute;
    display: inline-block;
    overflow: hidden;
    right: 10px;
    width: 230px;
    list-style: none;
    padding: 0;
    top: 30px;
    border-radius: 5px;
}

.search-For-Top-Header ul li {
    width: 100% !important;
    border-bottom: 1px solid;
    padding: 6px;
    font-size: 12px;
}

.search-For-Top-Header ul li:last-child {
    border: 0;
}

.search-For-Top-Header li img {
    float: left;
}

.search-For-Top-Header ul li a {
    color: black !important;
    font-size: 14px !important;
}

.search-For-Top-Header ul li {
    color: black !important;
    height: 60px !important;
}


.search-For-Top-Header ul {
    margin-top: 12px;
}

.col-4.col-lg-3.text-right.lbotonat {
    top: -10px;
}


@media all and (min-width: 0px) and (max-width: 600px) {
    a.nav-link.ksksks {
        color: #989898 !important;
    }


    a.btn.btn-xs.ssfsqzgzagez {
        display: none;
    }
}

input.searchStuf {
    padding-left: 10px;
    height: 39px;
    top: -6px;
}

.ghakteb {
    z-index: 20 !important;
}


@media all and (min-width: 0px) and (max-width: 600px) {
    .shopping-cart {
        float: left;
        left: -270px;
    }
}


.container.lmkklflq {
    overflow: hidden;
    margin-top: 148px;
    margin-bottom: 148px;
}

.col-md-8.kkksjksjsq {
    padding: 0 45px !important;
}

.col-md-8.kkksjksjsq {
    float: none;
    margin: 0 auto;
}

.col-md-8.kkksjksjsq p {
    text-align: justify;
}

.col-md-8.kkksjksjsq h1 {
    margin-bottom: 45px;
    font-weight: bold;
}


footer.footer.white_color {
    padding: 20px !important;
}

#button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button {
    font-size: 10px;
    padding: 0;
    width: 42px;
    height: 42px;
    line-height: 0;
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 42px;
    color: #fff;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

#button:active {
    background-color: #555;
}

a#button {
    z-index: 5454545454455;
    background: #dc3d3d;
}

#button.show {
    opacity: 1;
    visibility: visible;
}

/* Styles for the content section */

.content {
    width: 77%;
    margin: 50px auto;
    font-family: 'Merriweather', serif;
    font-size: 17px;
    color: #6c767a;
    line-height: 1.9;
}

@media (min-width: 500px) {


    .content {
        width: 43%;
    }

    #button {
        margin: 30px;
    }


}

.content h1 {
    margin-bottom: -10px;
    color: #03a9f4;
    line-height: 1.5;
}

.content h3 {
    font-style: italic;
    color: #96a2a7;
}

img.searchImg {
    width: 45px;
    border: 1px solid black;
    margin-right: 15px;
}

.section-pack .card:hover {
    cursor: pointer;
}


.slicknav_menu.active {
    z-index: 3000;
    position: absolute;
    left: 0;
    width: 280px;
    height: 100%;
}

button#menuphoneopen {
    background: none;
    border: 0;
    color: black;
    font-size: 21px;
}

@media all and (min-width: 0px) and (max-width: 600px) {
    button#menuphoneopen {
        background: none;
        border: 0;
        color: white;
        font-size: 21px;
    }
}


.slicknav_menu.active {
    width: 100%;
}

.searchclick {
    cursor: pointer;
}

span.lkqlqlkjsq.active img {
    width: 15px;
}

span.lkqlqlkjsq {
    position: fixed;
    top: 4px;
    right: 4px;
    z-index: 800000;
    color: #4c4c4c;
    font-size: 20px;
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    display: none;
}

span.lkqlqlkjsq.active {
    display: inline-block;
}

ul#menudydydymenu {
    padding-top: 30px !important;
}

.slicknav_menu.active {
    padding-top: 48px;
}

span.lkqlqlkjsq.active:hover {
    cursor: pointer;
}

.slicknav_nav .slicknav_item a {
    font-weight: bold;
}

.slicknav_menu * {
    font-weight: bold;
}


@media all and (min-width: 0px) and (max-width: 600px) {

    ul.list-group.searchPhoneSidbarResutls {
        width: calc(100% - 51px);

    }

    span.searjhcj {

        z-index: 10100000000;
        position: fixed;
        top: 60px;
        left: 20px;
        width: 100% !important;
    }


    span.searjhcj input {
        width: calc(100% - 51px);
        height: 40px;
        border: 0;
        border-radius: 3px;
        padding-left: 9px;
    }

    .slicknav_menu.active {
        padding-top: 125px;
    }

}


.searchPhoneSidbarResutls li img.searchImg {
    width: 32px;
    display: table-cell;
    float: left;
}

.searchPhoneSidbarResutls {
    height: 70vh !important;
    overflow: hidden;
    overflow-y: scroll;
}

.searchPhoneSidbarResutls li, .searchPhoneSidbarResutls .list-group-item:first-child {
    border-radius: 0 !important;
}

.search-result {
    height: 305px;
    overflow: hidden;
    overflow-y: scroll;
}


@import "bourbon";
.ui-datepicker, .ui-datepicker-material-header {
    font-family: 'Roboto';
}

.ui-datepicker-material-header {
    display: block;
    background-color: #284b72;
    color: white;
    text-align: center;
    width: 325px;
}

.ui-datepicker-material-header .ui-datepicker-material-day {
    background-color: #1f3a58;
    padding: 10px;
    font-size: 1rem;
}

.ui-datepicker-material-header .ui-datepicker-material-date {
    padding: 20px;
}

.ui-datepicker-material-header .ui-datepicker-material-date .ui-datepicker-material-month, .ui-datepicker-material-header .ui-datepicker-material-date .ui-datepicker-material-day-num, .ui-datepicker-material-header .ui-datepicker-material-date .ui-datepicker-material-year {
    padding: 5px;
}

.ui-datepicker-material-header .ui-datepicker-material-date .ui-datepicker-material-month {
    font-size: 2rem;
    text-transform: uppercase;
}

.ui-datepicker-material-header .ui-datepicker-material-date .ui-datepicker-material-day-num {
    font-size: 4.5rem;
}

.ui-datepicker-material-header .ui-datepicker-material-date .ui-datepicker-material-year {
    font-size: 1.8rem;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.4);
}

.ui-datepicker {
    padding: 0;
    border: none;
    box-shadow: 0 12px 36px 16px rgba(0, 0, 0, 0.24);
    width: 325px;
}

.ui-corner-all {
    border-radius: 0;
}

.ui-widget-header {
    border: 0;
}

.ui-datepicker-header {
    text-align: center;
    background: white;
    padding-bottom: 15px;
    font-weight: 300;
}

.ui-datepicker-header .ui-datepicker-prev, .ui-datepicker-header .ui-datepicker-next, .ui-datepicker-header .ui-datepicker-title {
    border: none;
    outline: none;
    margin: 5px;
}

.ui-datepicker-prev.ui-state-hover, .ui-datepicker-next.ui-state-hover {
    border: none;
    outline: none;
    background: #b4cbe5;
}

.ui-datepicker-calendar .ui-state-default {
    background: none;
    border: none;
    text-align: center;
    height: 33px;
    width: 33px;
    line-height: 36px;
}

.ui-datepicker-calendar .ui-state-highlight {
    color: #284b72;
}

.ui-datepicker-calendar .ui-state-active {
    border-radius: 50%;
    background-color: #284b72;
    color: white;
}

.ui-datepicker-calendar thead th {
    color: #999;
    font-weight: 200;
}

.ui-datepicker-buttonpane {
    border: none;
}

.ui-datepicker-buttonpane .ui-state-default {
    background: white;
    border: none;
}

.ui-datepicker-buttonpane .ui-datepicker-close, .ui-datepicker-buttonpane .ui-datepicker-current {
    background: white;
    color: #284b72;
    text-transform: uppercase;
    border: none;
    opacity: 1;
    font-weight: 200;
    outline: none;
}

.ui-datepicker-buttonpane .ui-datepicker-close:hover, .ui-datepicker-buttonpane .ui-datepicker-current:hover {
    background: #b4cbe5;
}


.grecaptcha-badge {
    display: none !important;
}

